h4 {
    margin:5px 0 ;
}

.first-list, .second-list {
    list-style-type: none;
    display:inline-block;
}
.disc-list{
    list-style-type: disc;
}
.square-list {
    list-style-type: square;
}
.undecorated-list {
    list-style-type: none;
}
.leading-zero-list {
    list-style-type: decimal-leading-zero;
}