/* General styles*/
* {
	-webkit-box-sizing: border-box;
	box-sizing        : border-box;
	margin            : 0;
	padding           : 0;
}

body {
	font-family: 'Solway', serif;
}

a:focus,
video:focus,
button:focus {
	outline: 2px solid #fff;
}

input:focus {
	outline: 2px solid #a9abab;
}

.container {
	width : 1180px;
	margin: 0 auto;
}

textarea {
	resize: none;
}


/* Individual styles*/

.header {
	background-color: #39f7eb;
	padding         : 15px 0;
	border-radius   : 25px;
}

.header__inner {
	display              : -webkit-box;
	display              : -ms-flexbox;
	display              : flex;
	-webkit-box-orient   : horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction   : row;
	flex-direction       : row;
}

.header__navigation {
	width: 90%;
}

.header__navigation-list {
	list-style-type : none;
	display         : -webkit-box;
	display         : -ms-flexbox;
	display         : flex;
	-webkit-box-pack: justify;
	-ms-flex-pack   : justify;
	justify-content : space-between;
	padding         : 0 20px;
	font-size       : 2.4em;
}


.header__navigation-list a {
	text-decoration: none;
	color          : #000;
}

.header__navigation-list a:hover {
	color: #fff;
}

.header__social-networks {
	display         : -webkit-box;
	display         : -ms-flexbox;
	display         : flex;
	-webkit-box-pack: justify;
	-ms-flex-pack   : justify;
	justify-content : space-between;
	width           : 7%;
	padding-top     : 15px;
}

.header__social-networks a:focus {
	outline: none;
}

.instagram-logo,
.youtube-logo,
.twitch-logo {
	width: 20px;
}

.about-me {
	margin: 10px 0;
}

.about-me__right-title {
	text-align: center;
}

.about-me__left {
	width: 70%;
	float: left;
}

.about-me__songs-title {
	text-align: center;
	margin    : 10px 0;
}

.about-me__right {
	width        : 30%;
	float        : left;
	border       : 1px solid #000;
	border-radius: 20px;
	margin-bottom: 20px;
}

.about-me__image {
	width        : 150px;
	float        : left;
	margin       : 10px;
	border-radius: 20px;
}

.about-me__songs {
	border-top   : 1px solid #000;
	border-bottom: 1px solid #000;
	border-radius: 20px;
	margin       : 0 auto;
	clear        : both;
	width        : 800px;

}

.about-me__songs-item {
	width: 260px;
}

.about-me__summary {
	cursor     : pointer;
	margin-left: 15px;
}

.about-me__details-item {
	margin-left: 10px;
}

.about-me__summary:focus {
	outline: none;
}

.about-me__summary::-webkit-details-marker {
	display: none;
}

.about-me__table {
	border-spacing: 10px;
}

.about-me__canvas {
	width: 85px;
}

.media {
	background-color: #39f7eb;
	margin-top      : 20px;
	padding-bottom  : 22px;

}

.media__inner {
	display        : -webkit-box;
	display        : -ms-flexbox;
	display        : flex;
	-ms-flex-pack  : distribute;
	justify-content: space-around;
}

.media__title {
	text-align: center;
	font-size : 2.4em;
	padding   : 15px 0 10px;
}

.media__photo-inner {
	display              : grid;
	grid-template-columns: repeat(3, 250px);
	grid-gap             : 15px;
	margin-left          : 65px;
	padding-top          : 10px;
}

.media__photo-item {
	width: 250px;
}

.media__photo-descr {
	font-size : 0.77em;
	text-align: center;
}

.media__aside {
	display              : -webkit-box;
	display              : -ms-flexbox;
	display              : flex;
	-webkit-box-orient   : vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction   : column;
	flex-direction       : column;
	height               : 574px;
	overflow             : auto;
	margin-left          : 40px;
	margin-top           : 10px;
}

.media__aside-video {
	width  : 278px;
	padding: 27px 0;
	margin : 0 auto;
}

.media__aside .media__aside-video:first-child {
	padding-top: 0px;
}

.contacts {
	background-color: #2d8a8a;
	padding         : 20px;
}

.contacts__title {
	text-align   : center;
	font-size    : 2.4em;
	margin-bottom: 20px;
	color        : #fff;
}

.contacts__wrapp {
	display         : -webkit-box;
	display         : -ms-flexbox;
	display         : flex;
	-ms-flex-pack   : distribute;
	justify-content : space-around;
	background-color: #37b8b8;
	padding         : 10px;
}

.contacts__left-li {
	list-style-type: none;
}

.contacts__left-li a {
	text-decoration: none;
}

.contacts__left-li a:link {
	color: #000;
}

.contacts__left-form {
	border : 1px solid #000;
	margin : 10px 0;
	padding: 3px;
}

.contacts__left-formTitle {
	text-align : center;
	font-weight: 700;
	margin     : 5px 0;
}

.contacts__instagram,
.contacts__youtube,
.contacts__twitch,
.contacts__telegram,
.contacts__gmail {
	width: 13px;
}

.contacts__right {
	width: 42%;
}

.contacts__right-title {
	text-align: center;
	font-size : 1.3em;
}

.contacts__right-form {
	display              : -webkit-box;
	display              : -ms-flexbox;
	display              : flex;
	-webkit-box-orient   : vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction   : column;
	flex-direction       : column;
	text-align           : center;
}

.contacts__right-inputWrap {
	display              : -webkit-box;
	display              : -ms-flexbox;
	display              : flex;
	-webkit-box-orient   : horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction   : row;
	flex-direction       : row;
	-webkit-box-pack     : justify;
	-ms-flex-pack        : justify;
	justify-content      : space-between;
}

.contacts__right-input {
	text-align : center;
	line-height: 31px;
	border     : 1px solid #a9abab;
	width      : 240px;
	margin     : 10px 0;
}

.contacts__right-reset,
.contacts__right-submit {
	width     : 180px;
	padding   : 5px;
	margin-top: 5px;
}

.footer {
	background-color: #1e3636;
	color           : #fff;
	padding         : 20px 0;
	font-size       : 0.8em;
}

.footer__wrapp {
	display         : -webkit-box;
	display         : -ms-flexbox;
	display         : flex;
	-webkit-box-pack: justify;
	-ms-flex-pack   : justify;
	justify-content : space-between;
	padding         : 0 10px;
}

.footer__right-popup {
	font-size: 0.8em;
}

#dialog {
	margin: 0 auto;
}

.dialog__title {
	display   : block;
	text-align: center;
}

.dialog__button-wrap {
	display        : -webkit-box;
	display        : -ms-flexbox;
	display        : flex;
	-ms-flex-pack  : distribute;
	justify-content: space-around;
	padding        : 3px;
}

#pop-cancel,
#pop-confirm {
	width        : 80px;
	margin-bottom: 3px;
}

.popup-button,
#contextmenu {
	display: inline;
}