* {
	box-sizing:border-box;
	margin:0;
	padding:0;
}

.header {
	display: flex;
	flex-direction: row;
}
.header__navigation {
	width:90%;
}
.header__navigation-list {
	list-style-type: none;
	display:flex;
	justify-content: space-between;
	padding:0 20px;
	font-size: 2.5em;
	}
	.header__navigation-list a {
		text-decoration: none;
		color:#000;
	}
	.header__social-networks {
		display:flex;
		justify-content: space-between;
		width:7%;
		padding-top:15px;
	}
.instagram-logo, .youtube-logo, .twitch-logo {
	width:20px;
}
.about-me__left {
	width:70%;
	float:left;
}
.about-me__right {
	widows: 30%;float:left;
}
.about-me__image img{
	width:150px;
	float:left;
	margin:10px;
}

.aside{
	display: flex;
	flex-direction: column;
	float:left;
	width:27%;
	height: 595px;
	overflow: auto;
	margin:20px 0 0 40px;
}

.aside-video {
	width:320px;
	padding: 11px 0;
	margin:0 auto;
}
.media {
	float:left;
	width:67%;
}
.media__inner {
	display:grid;
	grid-template-columns: repeat(3, 250px);
	grid-gap:15px;
	margin-left:65px;
	padding-top:10px;
}
.media-item {
	width:250px;
}
textarea {
	resize:none;
}
.contacts {
	clear:left;
}
.popup-button, #contextmenu {
	display:inline;
}
.contacts-wrapp {
	display:flex;
	justify-content: space-around;
}
.contacts-right__form {
	display:flex;
	flex-direction:column;
}
.contacts-right__form input {
	margin: 10px 0;
}
.footer__wrapp {
	display:flex;
	justify-content: space-between;
	padding:0 10px;
	margin: 20px 0;
}
.contacts__canvas {
	width:85px;
}