* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 1078px;
    margin: 0 auto;
}

.header {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 5px 0;
    width: 100%;
    position: fixed;
}

.header__nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-transform: uppercase;
}

.header__nav-item {
    list-style-type: none;
    font-size: 1.9em;
    color: #fff;
}

.hader__nav-title {
    font-size: 2.1em
}

.header__nav-item a {
    text-decoration: none;
    color: #fff;
}

.about {
    background-color: #FF8F9F;
    padding-bottom: 86px;
}

.about__image {
    margin-top: 84px;
}

.about__text {
    display: grid;
    grid-template-columns: minmax(40%, auto) minmax(60%, auto);
    margin-top: 20px;
}

.about__text-title {
    color: #fff;
    font-size: 4em;
    text-transform: uppercase;
}

.about__text-right {
    line-height: 28px;
    font-size: 1.1em;
    color: #2e181b;
}

.toplist {
    background-color: #FF7A8D;
}

.toplist__content-title {
    color: #fff;
    font-size: 2em;
    text-transform: uppercase;
    text-align: center;
    padding: 20px 0;
}

.toplist__wrapp {
    padding: 30px 0;
}

.toplist__content {
    display: grid;
    grid-template-columns: repeat(5, minmax(20%, auto));
    grid-auto-rows: 110px;
    grid-column-gap: 10px;
}

.toplist__content-item {
    list-style-type: none;
    color: #fff;
    font-size: 1.1em;
}

.toplist__content-item span {
    color: #2e181b;
    font-weight: 700;
}

.toplist__content li:first-child {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    border-bottom: 2px solid #fff;
    padding-top: 20px;

}

.toplist__content li:nth-child(2) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;


}

.toplist__content li:nth-child(3) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    border-left: 2px solid #fff;
    padding: 20px 0 0 10px;
}

.toplist__content li:nth-child(4) {
    grid-column: 3/ 3;
    grid-row: 1 / 2;
    border-bottom: 2px solid #fff;
    border-left: 2px solid #fff;
    padding: 20px 0 0 10px;
}

.toplist__content li:nth-child(5) {
    grid-column: 4/ 5;
    grid-row: 2 / 3;
    border-right: 2px solid #fff;
    border-left: 2px solid #fff;
    padding: 20px 0 0 10px;
}

.toplist__content li:last-child {
    grid-column: 5/ 6;
    grid-row: 1 / 2;
    border-bottom: 2px solid #fff;
    padding-top: 20px;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #272727;
    color: #fff;
    padding: 0 10px;
}

.footer__left,
.footer__right-wrap {
    display: inline-block;
    font-size: 0.9em;
}

.footer__right-content {
    display: flex;
    flex-direction: column;
}

.footer__right-content a {
    list-style-type: none;
    color: #fff;
    text-decoration: none;
}

.footer__right-tel,
.footer__right-mail {
    font-weight: 700;
}

.footer__right-tel {
    margin-right: 22px;
}

.footer__right-title,
.footer__right-wrap {
    padding: 5px 0;
}